*
{
    margin: 0;
    padding: 0;
}
body{
    background-color:#ffffff;
    font-family: "Montserrat";
    /* background:no-repeat; */
    /* color: white !important; */
    padding-bottom: 30px;
}
#details
{
    background-color: #FEE715FF;
    margin-bottom: 90px;
}
h1 
{
    font-family: "Montserrat-black" ;
    color:black;
    margin: 0 0 1rem 0;
    padding: 1rem;
}
h1 .black
{
    animation-name:black;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes black
{
    0%{color:black;}
    50%{color:#FEE715FF;}
}
h1 .yellow
{
    animation-name:yellow;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes yellow
{
    0%{color:#FEE715FF;}
    50%{color:black;}
}
h3 .yellow
{
    animation-name: yellow;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
.highlited
{
    color: rgb(10, 1, 1);
    font-weight: 900;
    font-style: italic;
    font-family: "Montserrat-Bold";
    text-transform: uppercase;
    
}
.heading-1 
{
    margin-top: 20px;
  margin-left: 30px;
}
.about-ivara
{
    font-size: large;
    padding: 40px;
    font-weight: 500;
    
    padding-right: 100px;
}

.highlited
{
    font-weight: 700;
    font-family: "Montserrat-Bold";
}





.image-Ivara
{
    height: 70%;
    padding-left: 80px;
    width: 90%;
}


#features
{
    background-color: white;
    text-align: center;
}
.Ivara-makes
{
    padding-top: 20px;
}

.feature-box {
    padding: 2.5%;
  }

  .icon {
    color: #FEE715FF;
    margin-bottom: 1rem;
  }
  
  .icon:hover {
    color: #0a0a0a;
  }




  @media(max-width:576px)
  {
      p
      {
          color: white;
      }
      .main-heading
      {
          padding-bottom: 30px;
          
      }
      .about-ivara
      {
          font-size: x-large;
          padding: 40px;
          font-weight: 500;
      }
      .feature-box:nth-child(odd)
      {
        background-color: yellow;
      }
      .qoute-line
      {
          padding-top: 30px;
      }
  }

  /* contactuspagestyle */

.col-md-3{
    background: #fee715ff;
    padding: 4%;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    /* border-bottom-right-radius: 0.5rem;
    border-top-right-radius:0.5rem; */
}
.contact-info{
    margin-top:10%;
}
.contact-info img{
    margin-bottom: 15%;
}
.contact-info h2{
    margin-bottom: 10%;
}
label
{
    background-color: black;
    
    color: white;
    border-radius: 1rem;
    color:#fee715ff ;
    font-size: 17px;
}
.col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.contact-form label{
    font-weight:600;
}
.form-group .border-removing
{
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #FEE715FF;
 
   
}
.form-control:focus{
    outline: none;
    border-color: inherit;
    -webkit-box-shadow:none;
    box-shadow: none;
    border-bottom: 2px solid #FEE715FF;

}

/* .form-group .border-removing:focus{
    border: none;
    outline: none;
    outline: 4px solid ##FEE715FF;
    
} */
.contact-form .button{
  background-color:#102820ff;
  color: white;
  padding: 12px 50px;
  width: 80%;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.contact-form .button:hover{
    color:#FEE715FF;
}
.contact-form .button:active
{
    
    outline-style: none
}
.social-links ul
{
    padding-top: 40px;
    display: flex;
    justify-content: space-evenly;
    
   
}
.social-links ul li
{
    list-style: none;
    margin: 0 15px;
   
}

.social-links ul li .social-icon{
    font-size: 30px;
    line-height: 60px;
    transition: 0.6s;
    color: black;
    margin-top: 13px; 
   
}
.social-links ul li .social-icon:hover
{
    color: #FEE715FF;
}
.social-links ul li  a{
    height: 60px;
    width: 60px;
    position: relative;
    display: block;
    text-align: center;
    border-radius: 50%;
    background-color:#fee715ff;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0, 0, 0, .5);
}
.social-links ul li a:hover
{
    transform: translate(0,-10px);

}
.social-links ul li:nth-child(1) a:hover
{
    background-color: #25D366;
}
.social-links ul li:nth-child(2) a:hover
{
    background-color:  #c25ba1;
}
.social-links ul li:nth-child(3) a:hover
{
    background-color: #00acee;
}
.social-links ul li:nth-child(4) a:hover
{
    background-color: #0e76a8;
}
  @media  (max-width: 500px)
  {
      body 
      {
          background-color: white;
      }
    .col-md-3
      {
          margin-left: 30px;
          margin-right: 30px;
          border-bottom-right-radius: 2rem;
          border-top-right-radius: 2rem;
      }
    .form-design
      {
         padding-top: 40px;
      }
      .form-group
      {
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 16px;
      }  
  }